{
  "parser"  : "babel-eslint",
  "env"     : {
    "browser" : true
  },
  "globals" : {
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__DEBUG__"    : false,
    "__COVERAGE__" : false,
    "__BASENAME__" : false,
    "describe": false,
    "test": false,
    "expect": false
  },
  "extends" : "airbnb",
   "rules": {
     "import/no-unresolved": [2, { caseSensitive: false }],
    },
}
